<html>
<head>
	<title></title>
	<link ref="stylesheet" href="style.css">
	<script src="project.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="bootscrap.min.js"></script>
	<script src="angular.js"></script>
</head>
<body ng-app>
	<div>
		<input type="text" ng-model="newitem">
		<input type="number" ng-model="newprice">
		<button type="submit">Add</button>
		<h1>Shopping List</h1>
		<h2>{{newitem}} cost {{newprice}} dollars</h2>

		<div ng-init="items=[
		{name:'apples', price:'3'},
		{name:'oranges', price:'4'},
		{name: 'bannas', prie:'5'}]">
		<ul>
			<li ng-repeat="item in items">
				{{item.name}}{{item.price}}
			</li>
			<li>{{newitem}}{{newprice}}</li>
		</div>
	</div>
	<script src="script.js"></script>
</body>
</html>